body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul {
    list-style: none;
}

#main-page {
    position: fixed;
    width: 100%;
    height: 100%;
}

#upload {
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 3;
}

#bookmarks {
    width: 50%;
    height: 100%;
}

#weather {
    width: 100%;
    height: 20%;
}

#calendar {
    display: flex;
    flex-direction: horizontal;
    width: 100%;
    height: 80%;
}

#today {
    width: 50%;
    height: 100%;
    background-color: red;
}

#tomorrow {
    width: 50%;
    height: 100%;
    background-color: blue;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
}

#vertical {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    
    color: white;
}
